/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

* {
  font-family: 'PT Serif', serif;
}

header {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  text-align: center;
}

header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.subtitle {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2em;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
